.slots-pic{
    min-width: 500px;
    width: 600px;
    box-shadow: 5px 30px 50px #333;
}

.navbar{
    
  background-image: url(../img/assets/bg-1.jpg);
  /* background-color: rgb(129, 204, 230); */
  box-shadow: 5px 30px 50px rgb(170, 145, 145);
}
.navbar a{
    color: black!important;
}

body{
    background-color: white;
}

.container-fluid{
    min-height: calc(100vh - 200px);
    border-radius: 30px;
    margin-top: 60px;
    box-shadow: 5px 30px 50px #333;

}
.contain {
    position: relative;
    width: 50%;
    
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contain:hover .image {
    opacity: 0.3;
  }
  
  .contain:hover .middle {
    opacity: 1;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
  }
  .img-fluid:hover{
    filter: blur(1px);
    transform: scale(1.05);
    transition: all .2s ease-in-out;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .First-page{
    color: white;
    text-align: center;
    padding-top: 20px;
  }